input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
  }


  body {
    background-color: lightgrey;
    color: blue;
  }
  
  h1 {
    background-color: black;
    color: white;
  }
  
  div {
    background-color: blue;
    color: white;
  }
  .container {
	max-width: 640px;
	margin: 30px auto;
	background: rgb(109, 83, 224);
	border-radius: 8px;
	padding: 20px;
}